*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: grey;
}

section{
    display: flex;
    flex-direction:column;
    gap: 30px;
}

.tittle {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#container {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid violet;
    border-radius: 5%;
    width: 40%;
    align-items: center;
    margin: 30px;

}

h1 {
    font-size: 4em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: violet;
}

input {
    border-radius: 15px;
    height: 30px;
    width: 300px;
    padding-left: 10px;
    background-color: violet;
}

button {
    height: 30px;
    width: 80px;
    border-radius: 15px;
    color: rgb(15, 14, 14);
    background-color: violet;
    font-size: 1em;
    cursor: pointer;
}

#pizza{
    color: violet;
    padding: 5px;
    width: 300px;
    
}
#precio{
    padding: 7px;
    color: violet;
    width: 200px;
    font-weight: 600;
}
#ingredientes {
    padding: 7px;
    color: violet;
    width: 200px;
    font-weight: 600;
}
#imagen {
    width: 150px;
    height: 120px;
}
#small {
    color: violet;
    font-weight: 600;
    font-size: 13px;
}
